footer {
  border-top: solid 3px red;
  background-color: #081e36;
  color: #ffffff;
  margin: 20px 0 0 0;
  padding: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: relative;
  font-family: "Inter", serif;
}

.footer-container {
  margin: 40px auto;
  max-width: 1700px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-logo {
  margin-left: 10px;
  flex-shrink: 0;
}

.footer-logo img {
  margin-top: 20px;
  width: 80px;
}

.footer-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
}

.footer-columns {
  display: flex;
  gap: 60px;
}

.footer-column h4 {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: 'Bebas Neue', sans-serif;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin: 15px 0;
}

.footer-column ul li a {
  color: #7c8f8d;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-right {
  text-align: left;
  margin-right: 10px;
}

.footer-right h4{
  text-align: left;
  color: #7c8f8d;
}

.phone-number {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin: 0 5px;
}

.social-icons img {
  width: 30px;
}

.footer-bottom {
  margin: 20px auto 0 auto;
  width: 100%;
  max-width: 1700px;
  padding-top: 10px;
  border-top: solid 1px #FFFFFF29;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.footer-bottom p {
  margin-left: 10px;
}

.privacy-policy {
  color: #ffffff;
  margin-right: 10px;
  text-decoration: none;
}

.privacy-policy:hover {
  text-decoration: underline;
}
