@font-face {
    font-family: "Bebas-Neue-Cyrilic"; /* Название шрифта */
    src: url("../../../../../static/tomiko/fonts/Bebas Neue Cyrilic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Bebas-Neue-Cyrilic", sans-serif;
    margin-top: 9rem;
    padding: 0;
    color: #FFFFFF;
    background-color: var(--main-bg-color);
}

.midle {
    display: grid;
    margin: 0 auto;
    width: 100%;
    max-width: 1700px;
    margin-bottom: 20px;
}