body{
    background: var(--main-bg-color);
    margin: 0;
    padding: 0;
}

.header{
    position: relative;
}

.bgImg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    
}

ul, li {
    position: relative;
    z-index: 2;
    color: #fff
}

