{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Каталог</title>
        <link rel="stylesheet" href="{% static 'tomiko/css/catalog_cars.css' %}">
        <link rel="stylesheet" href="{% static 'tomiko/css/var.css' %}">
        <link rel="stylesheet" href="{% static 'tomiko/css/general/header_gen.css' %}">
        <link rel="stylesheet" href="{% static 'tomiko/css/general/continfo.css' %}">
        <link rel="stylesheet" href="{% static 'tomiko/css/general/footer.css' %}">
        <link rel="stylesheet" href="{% static 'tomiko/css/catalog_slider.css' %}">
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <div class="header__nav">
                <ul class="info-list">
                    <li><a href="/"><img class="header-logo__ico header-link link-li" src="{% static 'tomiko/img/logo.svg' %}"
                                alt=""></a></li>
                    <li><a class="header-link link-li" href="/cars/Корея/">Авто из Кореи</a></li>
                    <li><a class="header-link link-li" href="/cars/Китай/">Авто из Китая</a></li>
                    <li><a class="header-link link-li" href="/cars/Япония/">Авто из Японии</a></li>
                    <li><a class="header-link link-li" href="/about/">Условия работы</a></li>
                    <li><a class="header-link link-li" href="/akcii/">Акции</a></li>
                    <li><a class="header-link link-li" href="/contacts/">Контакты</a></li>
                    <!-- Элементы, которые нужно прижать к правому краю -->
                    <div class="header-media-container">
                        <li><a class="header-link header-number" href="">8 (800) 500-49-46</a></li>
                        <li><a class="header-link" href=""><img class="header-media__ico"
                                    src="{% static 'tomiko/img/icons/Telegabutton.svg' %}" alt="Telega"></a></li>
                        <li><a class="header-link" href=""><img class="header-media__ico"
                                    src="{% static 'tomiko/img/icons/Whatsbutton.svg' %}" alt="Whatsapp"></a></li>
                    </div>
                </ul>
            </div>
        </header>

        <div class="midle">
            <div class="catalog-routing">
                <a href="/">Главная</a>
                 •
                <a href="/cars/{{ country }}">Автомобили из {{ country_name }}</a>
            </div>
            <div class="catalog-title-block">
                <h1 class="catalog-title">Автомобили из {{ country_name }} </h1>
                <img src="{{ imgFlag }}" alt="{{ imgFlag }}">
            </div>

            <form method="get" class="filters">
                <div class="row">
                    {{ filter.form.brand }}
                    <div class="double-select">
                        <div class="double-select-inner">
                            {{ filter.form.year_from }}
                            {{ filter.form.year_to }}
                        </div>
                    </div>
                    <div class="double-select">
                        <div class="double-select-inner">
                            {{ filter.form.capacity_from }}
                            {{ filter.form.capacity_to }}
                        </div>
                    </div>
                    {{ filter.form.drive }}
                    {{ filter.form.model }}
                    <div class="double-select">
                        <div class="double-select-inner">
                            {{ filter.form.mileage_from }}
                            {{ filter.form.mileage_to }}
                        </div>
                    </div>
                    {{ filter.form.transmission }}
                    {{ filter.form.color }}
                </div>
                <div class="buttons">
                    <button type="submit">Показать</button>
                    {% if request.GET %}
                        <a href="{% url 'car_list' %}" class="btn-reset">Сбросить фильтры</a>
                    {% endif %}
                </div>
            </form>
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    const brandSelect = document.getElementById("id_brand");
                    const modelSelect = document.getElementById("id_model");

                    brandSelect.addEventListener("change", function () {
                        const brandId = brandSelect.value;

                        // Отправляем запрос на сервер, чтобы получить модели
                        fetch(`/cars/get-models/?brand_id=${brandId}`)
                            .then(response => response.json())
                            .then(data => {
                                // Очищаем предыдущие опции модели
                                modelSelect.innerHTML = '<option value="">Модель авто</option>';

                                // Добавляем новые модели в выпадающий список
                                data.models.forEach(function (model) {
                                    const option = document.createElement("option");
                                    option.value = model;
                                    option.textContent = model;
                                    modelSelect.appendChild(option);
                                });
                            })
                            .catch(error => console.error("Ошибка при загрузке моделей:", error));
                    });
                });
            </script>

            <div class="slider-container">
                <h2 class="slider-title">Популярные авто<img src="{{ imgFlag }}" alt="{{ imgFlag }}"></h2>
                <div class="swiper">
                    <div class="swiper-wrapper">
                        {% for popcar in popular_cars %}
                        <!-- Карточка автомобиля -->
                        <div class="swiper-slide">
                            <div class="car-card">
                                <div class="car-info">
                                    <p class="car-title">{{ popcar.brand_country.brand}} {{ popcar.model}}</p>
                                    <p class="car-details">{{ popcar.year }} • {{ popcar.transmission }} • {{ popcar.mileage }} км</p>
                                </div>
                                <div class="car-image">
                                    <img src="{{ popcar.random_image }}" alt="{{ popcar.random_image }}">
                                </div>
                                <div class="actions">
                                    <p class="car-price">{{ popcar.price_with_duty}} ₽</p>
                                    <div class="action-button">Оставить заявку</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <!-- Добавляем стрелки -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>

            <div class="menu">
                <div class="dropdown">
                    <form method="get" class="sorting-form">
                        {% for key, value in request.GET.items %}
                            {% if key != 'sort' %}
                                <input type="hidden" name="{{ key }}" value="{{ value }}">
                            {% endif %}
                        {% endfor %}
                        <select name="sort" id="sort" onchange="this.form.submit()">
                            <option value="" {% if not request.GET.sort %}selected{% endif %}>Сортировка</option>
                            <option value="mileage" {% if request.GET.sort == "mileage" %}selected{% endif %}>Пробег: по возрастанию</option>
                            <option value="-mileage" {% if request.GET.sort == "-mileage" %}selected{% endif %}>Пробег: по убыванию</option>
                            <option value="price" {% if request.GET.sort == "price" %}selected{% endif %}>Стоимость: по возрастанию</option>
                            <option value="-price" {% if request.GET.sort == "-price" %}selected{% endif %}>Стоимость: по убыванию</option>
                            <option value="power_volume" {% if request.GET.sort == "power_volume" %}selected{% endif %}>Объем: по возрастанию</option>
                            <option value="-power_volume" {% if request.GET.sort == "-power_volume" %}selected{% endif %}>Объем: по убыванию</option>
                            <option value="year" {% if request.GET.sort == "year" %}selected{% endif %}>Год: по возрастанию</option>
                            <option value="-year" {% if request.GET.sort == "-year" %}selected{% endif %}>Год: по убыванию</option>
                        </select>
                    </form>
                </div>
                <button>Какие авто торгуются сейчас?</button>
            </div>

            <div class="container">
                <div class="catalog">
                    {% for car in cars %}
                    <div class="card">
                        <div class="head">
                            <a href="{% url 'car_detail' country=car.brand_country.country car_id=car.id price=car.price_with_duty2 %}" style="text-decoration: none; color: inherit;">
                                <span class="price">{{ car.brand_country.brand }} {{ car.model }}</span>
                            </a>
                            <a href="{% url 'car_detail' country=car.brand_country.country car_id=car.id price=car.price_with_duty2 %}" style="text-decoration: none; color: inherit;">
                                <p>{{ car.year }} • {{ car.transmission }} • {{ car.mileage }} км</p>
                            </a>
                        </div>
                        <img src="{{ car.random_image }}" alt="{{ car.random_image }}">
                        <div class="actions">
                            <span class="price">{{ car.price_with_duty }} ₽</span>
                            <button>Оставить заявку</button>
                        </div>
                    </div>
                    {% empty %}
                        <p>Нет доступных машин.</p>
                    {% endfor %}
                </div>
            </div>

            <div class="pagination">
                {% if cars.has_previous %}
                    <button onclick="location.href='?page={{ cars.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}';">
                        Предыдущая
                    </button>
                {% endif %}

                {% for num in cars.paginator.page_range %}
                    {% if num == cars.number %}
                        <button class="active">{{ num }}</button>
                    {% elif num > cars.number|add:"-3" and num < cars.number|add:"3" %}
                        <button onclick="location.href='?page={{ num }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}';" class="page-link">{{ num }}</button>
                    {% elif num == 1 or num == cars.paginator.num_pages %}
                        <button onclick="location.href='?page={{ num }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}';" class="page-link">{{ num }}</button>
                    {% elif num == cars.number|add:"-3" or num == cars.number|add:"3" %}
                        <button>...</button>
                    {% endif %}
                {% endfor %}

                {% if cars.has_next %}
                    <button onclick="location.href='?page={{ cars.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}';">
                        Следующая
                    </button>
                {% endif %}
            </div>

            <div class="contact-info">
                <div class="contact-con">
                    <div class="title-block">
                        <h1 class="title">
                            КОНТАКТНАЯ <br>ИНФОРМАЦИЯ <img src="{% static 'tomiko/img/icons/hi.png' %}" alt="">
                        </h1>
                        <p>Оставьте свою заявку и наш менеджер<br>
                             свяжется с Вами для уточнения деталей</p>
                        <div class="info-block">
                            <p class="name">Звонок по России бесплатный</p>
                            <h1 class="info">8 800 550 48 32</h1>

                            <p class="name">WhatsApp</p>
                            <h1 class="info">+7 (924) 420-24-32</h1>

                            <p class="name">Офис</p>
                            <h1 class="info">г. Владивосток, ул. Тополевая 6</h1>
                        </div>
                    </div>
                    <div class="form-container">
                        <div class="form-group">
                            <div class="form-row">
                                <div class="input-group">
                                    <p>Имя</p>
                                    <input type="text" placeholder="Введите имя" />
                                </div>
                                <div class="input-group">
                                    <p>Телефон</p>
                                    <input type="tel" value="+7" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <p>Уточните свой вопрос</p>
                                <textarea placeholder="Введите текст сообщения, укажите страну, марку и год машины."></textarea>
                            </div>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" id="privacy-policy" />
                            <label for="privacy-policy">С <span>правилами политики конфиденциальности</span> ознакомлен</label>
                        </div>
                        <div class="submit-btn">
                            <button>Отправить</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="subscribe">
                <img class="header-media__ico" src="{% static 'tomiko/img/podpiska.png' %}" alt="Telega">
            </div>
        </div>

            <footer>
      <div class="footer-container">
        <div class="footer-logo">
          <img src="{% static 'tomiko/img/logo.svg' %}" alt="Логотип" />
        </div>
        <div class="footer-left">
          <div class="footer-columns">
            <div class="footer-column">
              <h4>КАТАЛОГ</h4>
              <ul>
                <li><a href="#">Авто из Кореи</a></li>
                <li><a href="#">Авто из Китая</a></li>
                <li><a href="#">Авто из Японии</a></li>
              </ul>
            </div>
            <div class="footer-column">
              <h4>КОМПАНИЯ</h4>
              <ul>
                <li><a href="#">О компании</a></li>
                <li><a href="#">Доставка</a></li>
                <li><a href="#">Отзывы</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-right">
          <h4>Звонок по России бесплатный</h4>
          <p class="phone-number">8 (800) 550 48 32</p>
          <div class="social-icons">
            <a href="#"><img src="{% static 'tomiko/img/icons/Telegabutton.svg' %}" alt="Telegram"></a>
            <a href="#"><img src="{% static 'tomiko/img/icons/Whatsbutton.svg' %}" alt="WhatsApp"></a>
            <a href="#"><img src="{% static 'tomiko/img/icons/Telegabutton.svg' %}" alt="VK"></a>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <p>© 2024 ООО «Правый руль» Автомобили под заказ из Кореи, Китая и Японии</p>
        <a href="#" class="privacy-policy">Политика конфиденциальности</a>
      </div>
    </footer>

        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="{% static 'tomiko/js/cat_slider.js' %}"></script>
    </body>
</html>