{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
    <link rel="stylesheet" href="{% static 'tomiko/css/general/header_gen.css' %}">
    <link rel="stylesheet" href="{% static 'tomiko/css/general/continfo.css' %}">
    <link rel="stylesheet" href="{% static 'tomiko/css/general/footer.css' %}">
    <link rel="stylesheet" href="{% static 'tomiko/css/general/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'tomiko/css/about.css' %}">
    <link rel="stylesheet" href="{% static 'tomiko/css/var.css' %}">
    <link rel="stylesheet" href="{% static 'tomiko/css/homePage/stage.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header__nav">
            <ul class="info-list">
                <li><a href="/"><img class="header-logo__ico header-link link-li" src="{% static 'tomiko/img/logo.svg' %}"
                            alt=""></a></li>
                <li><a class="header-link link-li" href="/cars/Корея/">Авто из Кореи</a></li>
                <li><a class="header-link link-li" href="/cars/Китай/">Авто из Китая</a></li>
                <li><a class="header-link link-li" href="/cars/Япония/">Авто из Японии</a></li>
                <li><a class="header-link link-li" href="/about/">Условия работы</a></li>
                <li><a class="header-link link-li" href="/akcii/">Акции</a></li>
                <li><a class="header-link link-li" href="/contacts/">Контакты</a></li>
                <!-- Элементы, которые нужно прижать к правому краю -->
                <div class="header-media-container">
                    <li><a class="header-link header-number" href="">8 (800) 500-49-46</a></li>
                    <li><a class="header-link" href=""><img class="header-media__ico"
                                src="{% static 'tomiko/img/icons/Telegabutton.svg' %}" alt="Telega"></a></li>
                    <li><a class="header-link" href=""><img class="header-media__ico"
                                src="{% static 'tomiko/img/icons/Whatsbutton.svg' %}" alt="Whatsapp"></a></li>
                </div>
            </ul>
        </div>
    </header>

    <div class="midle">
        <div class="nav">
            <a href="/">Главная</a>
             •
            <a href="/about/">Акции</a>
        </div>
    
        <div class="about-us">
            <div class="about-block">
                <div class="titles-ab">
                    <h1 class="title-ab">
                        О нас
                    </h1>
                    <p claas="about-p"><span  class="about-font">Компания «Правый руль» предлагает широкий выбор автомобилей от ведущих<br> мировых производителей. Мы специализируемся на
                    продаже новых и<br> подержанных авто. Наша команда профессионалов поможет вам выбрать<br> идеальный автомобиль, учитывая ваши
                    потребности и бюджет.</span></p>
                    <div class="btn-about-block">
                        <button class="about-btn">Получить консультацию</button>
                        <a href="" target="_blank"><img class="what-about" src="{% static 'tomiko/img/icons/Whatsbutton.svg' %}" alt="whatsapp"></a>
                    </div>
                </div>
                <div class="about-logo">
                    <img class="about-img" src="{% static 'tomiko/img/We are-cropped.svg' %}" alt="">
                </div>
            </div>
            <div class="width-about">

            </div>
            <div class="about-bg">

            </div>
        </div>

        <div class="features">
            <div class="feature-wn">
                <span class="feature-number">5 +</span>
                <p>Лет на рынке</p>
            </div>
            <div class="feature-wn">
                <span class="feature-number">4 000 +</span>
                <p>Довольных клиентов</p>
            </div>
            <div class="feature-wi">
                <span class="feature-icon">👍</span>
                <p>Прозрачное ценообразование с подробным разъяснением затрат на каждом этапе</p>
            </div>
            <div class="feature-wi">
                <span class="feature-icon">💻</span>
                <p>Полное сопровождение и предоставление фото/видео отчета на протяжении всей сделки</p>
            </div>
            <div class="feature-wi">
                <span class="feature-icon">🤝</span>
                <p>Проверенные поставщики</p>
            </div>
        </div>

        <div class="stage-container">
            <img src="{% static 'tomiko/img/bg-img-stage.png' %}" alt="" class="stage-img">
            <div class="stage_block">
                <div class="stage-title">
                    <h1 class="h-info"><span class="red">Этапы</span><span class="white">работы</span> </h1>
                    <p class="p-info">Прозрачное ценообразование с подробным<br> разъяснением затрат на каждом этапе</p>
                </div>

                <div class="stage-info">
                    <div class="info-block">
                        <div class="img-block">
                            <img src="{% static 'tomiko/img/icons/stage-ico-1.png' %}" alt="">
                            <img class="line-red" src="{% static 'tomiko/img/red-line.svg' %}" alt="">
                        </div>
                        <div>
                            <h1>
                                <span class="white f-size">Заявка</span>
                            </h1>
                            <p>
                                <span class="p-size">Оставьте заявку,чтобы получить индивидуальную консультацию</span>
                            </p>
                        </div>
                    </div>

                    <div class="info-block">
                        <div class="img-block">
                            <img src="{% static 'tomiko/img/icons/stage-ico-2.png' %}" alt="">
                            <img class="line-red" src="{% static 'tomiko/img/red-line.svg' %}" alt="">
                        </div>
                        <div>
                            <h1>
                                <span class="white f-size">Подбор авто</span>
                            </h1>
                            <p>
                                <span class="p-size">Подберем автомобиль под ваши критерии</span>
                            </p>
                        </div>
                    </div>

                    <div class="info-block">
                        <div class="img-block">
                            <img src="{% static 'tomiko/img/icons/stage-ico-3.png' %}" alt="">
                            <img class="line-red" src="{% static 'tomiko/img/red-line.svg' %}" alt="">
                        </div>
                        <div>
                            <h1>
                                <span class="white f-size">Оформление</span>
                            </h1>
                            <p>
                                <span class="p-size">Согласуем бюджет и заключим договор на авто</span>
                            </p>
                        </div>
                    </div>

                    <div class="info-block">
                        <div class="img-block ">
                            <img src="{% static 'tomiko/img/icons/stage-ico-4.png' %}" alt="">
                            <img class="line-red" src="{% static 'tomiko/img/red-line.svg' %}" alt="">
                        </div>
                        <div>
                            <h1>
                                <span class="white f-size">Доставка по РФ</span>
                            </h1>
                            <p>
                                <span class="p-size">После доставки в г. Владивосток, мы отправим автомобиль в ваш город</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="stage-btn">
                    <button id="check__btn-c" name="button" class="btn-s">Получить консультацию</button>
                    <div class="r-1"></div><img class="ico-s" src="{% static 'tomiko/img/icons/Whatsbutton.svg' %}" alt="whatsapp">
                </div>
            </div>
        </div>
<!--            <div class="discount">-->
<!--                <div class="reg">-->
<!--                    <div class="discount-text">-->
<!--                        <p class="p-dis">Экономия до-->
<!--                            <span class="dis-s">30%</span>-->
<!--                            <a href=""><button class="dis-btn"><img class="arrow-d" src="{% static 'tomiko/img/icons/arrow.png' %}" alt=""></button></a>-->

<!--                        </p>-->
<!--                        <p>от рынка авто в наличии</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

    </div>

    <div class="commission">
        <div class="commission-section">
            <h2 class="commission-title">КОМИССИИ</h2>
            <div class="commission-cards">
                <div class="commission-card">
                    <div class="head-block">
                        <img src="{% static 'tomiko/img/icons/japan.svg' %}" alt="Япония" class="flag-icon">
                        <p class="country-name">Япония</p>
                        <p class="price">60 000 ₽</p>
                    </div>
                    <a href="#" class="contract-link">Договор ↗</a>
                </div>
                <div class="commission-card">
                    <div class="head-block">
                        <img src="{% static 'tomiko/img/icons/korea.svg' %}" alt="Корея" class="flag-icon">
                        <p class="country-name">Корея</p>
                        <p class="price">100 000 ₽</p>
                    </div>
                    <a href="#" class="contract-link">Договор ↗</a>
                </div>
                <div class="commission-card">
                    <div class="head-block">
                        <img src="{% static 'tomiko/img/icons/china.svg' %}" alt="Китай" class="flag-icon">
                        <p class="country-name">Китай</p>
                        <p class="price">150 000 ₽</p>
                    </div>
                    <a href="#" class="contract-link">Договор ↗</a>
                </div>
            </div>
            <p class="commission-info">У нас доступна оплата депозита частями</p>
            <button class="commission-button"><a href="/akcii/">Подробнее тут ↗</a></button>
        </div>
    </div>

    <footer>
      <div class="footer-container">
        <div class="footer-logo">
          <img src="{% static 'tomiko/img/logo.svg' %}" alt="Логотип" />
        </div>
        <div class="footer-left">
          <div class="footer-columns">
            <div class="footer-column">
              <h4>КАТАЛОГ</h4>
              <ul>
                <li><a href="#">Авто из Кореи</a></li>
                <li><a href="#">Авто из Китая</a></li>
                <li><a href="#">Авто из Японии</a></li>
              </ul>
            </div>
            <div class="footer-column">
              <h4>КОМПАНИЯ</h4>
              <ul>
                <li><a href="#">О компании</a></li>
                <li><a href="#">Доставка</a></li>
                <li><a href="#">Отзывы</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-right">
          <h4>Звонок по России бесплатный</h4>
          <p class="phone-number">8 (800) 550 48 32</p>
          <div class="social-icons">
            <a href="#"><img src="{% static 'tomiko/img/icons/Telegabutton.svg' %}" alt="Telegram"></a>
            <a href="#"><img src="{% static 'tomiko/img/icons/Whatsbutton.svg' %}" alt="WhatsApp"></a>
            <a href="#"><img src="{% static 'tomiko/img/icons/Telegabutton.svg' %}" alt="VK"></a>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <p>© 2024 ООО «Правый руль» Автомобили под заказ из Кореи, Китая и Японии</p>
        <a href="#" class="privacy-policy">Политика конфиденциальности</a>
      </div>
    </footer>
</body>
</html>