{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
    <link rel="stylesheet" href="{% static 'tomiko/css/general/header_gen.css' %}">
    <link rel="stylesheet" href="{% static 'tomiko/css/general/continfo.css' %}">
    <link rel="stylesheet" href="{% static 'tomiko/css/general/footer.css' %}">
    <link rel="stylesheet" href="{% static 'tomiko/css/general/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'tomiko/css/about.css' %}">
    <link rel="stylesheet" href="{% static 'tomiko/css/var.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header__nav">
            <ul class="info-list">
                <li><a href="header-img"><img class="header-logo__ico header-link link-li" src="{% static 'tomiko/img/logo.svg' %}"
                            alt=""></a></li>
                <li><a class="header-link link-li" href="">Авто из Кореи</a></li>
                <li><a class="header-link link-li" href="">Авто из Китая</a></li>
                <li><a class="header-link link-li" href="">Авто из Японии</a></li>
                <li><a class="header-link link-li" href="">Контакты</a></li>
                <!-- Элементы, которые нужно прижать к правому краю -->
                <div class="header-media-container">
                    <li><a class="header-link header-number" href="">8 (800) 500-49-46</a></li>
                    <li><a class="header-link" href=""><img class="header-media__ico"
                                src="{% static 'tomiko/img/icons/Telegabutton.svg' %}" alt="Telega"></a></li>
                    <li><a class="header-link" href=""><img class="header-media__ico"
                                src="{% static 'tomiko/img/icons/Whatsbutton.svg' %}" alt="Whatsapp"></a></li>
                </div>
            </ul>
        </div>
    </header>

    <div class="midle">
        <div class="nav">
            <a href="/">Главная</a>
             •
            <a href="/akcii/">Акции</a>
        </div>
    </div>
    
    <div class="about-us">
        <div class="about-block">
            <div class="titles">
                <h1 class="title">
                    О нас
                </h1>
                <p claas="about-p"><span  class="about-font">Компания «Правый руль» предлагает широкий выбор автомобилей от ведущих<br> мировых производителей. Мы специализируемся на
                продаже новых и<br> подержанных авто. Наша команда профессионалов поможет вам выбрать<br> идеальный автомобиль, учитывая ваши
                потребности и бюджет.</span></p>
                <div class="btn-about-block">
                    <button class="about-btn">Получить консультацию</button>
                    <a href="" target="_blank"><img class="what-about" src="{% static 'tomiko/img/icons/Whatsbutton.svg' %}" alt="whatsapp"></a>
                </div>
            </div>
            <div class="about-logo">
                <img class="about-img" src="{% static 'tomiko/img/about-page.png' %}" alt="">
            </div>
        </div>
        <div class="width-about">

        </div>
        <div class="about-bg">
            
        </div>
    </div>
        
    <div class="midle">
        <div class="contact-info">
            <div class="contact-con">
                <div class="title-block">
                    <h1 class="title">
                        Контактная <br>информация <img src="{% static 'tomiko/img/icons/hi.png' %}" alt="">
                    </h1>
                    <p>Оставьте свою заявку и наш менеджер<br>
                         свяжется с Вами для уточнения деталей</p>
                    <div class="info-block">
                        <p class="name">Звонок по России бесплатный</p>
                        <h1 class="info">8 800 550 48 32</h1>
    
                        <p class="name">WhatsApp</p>
                        <h1 class="info">+7 (924) 420-24-32</h1>
    
                        <p class="name">Офис</p>
                        <h1 class="info">г. Владивосток, ул. Тополевая 6</h1>
                    </div>
                </div>
                <div class="form-container">
    
                    <div class="form-group">
                        <div>
                            Имя
                        </div>
    
                        <div class="form-column">
    
                            <input type="text" placeholder="Введите имя" />
                            <input type="tel" value="+7" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            Уточните свой вопрос
                        </div>
                        <textarea placeholder="Введите текст сообщения, укажите страну, марку и год машины."></textarea>
                    </div>
                    <div class="checkbox-group">
                        <input type="checkbox" id="privacy-policy" />
                        <label for="privacy-policy">С <span>правилами политики конфиденциальности</span> ознакомлен</label>
                    </div>
                    <div class="submit-btn">
                        <button>Отправить</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="features">
            <div class="feature">
                <span class="feature-number">5+</span>
                <p>Лет на рынке</p>
            </div>
            <div class="feature">
                <span class="feature-number">4 000+</span>
                <p>Довольных клиентов</p>
            </div>
            <div class="feature">
                <span class="feature-icon">👍</span>
                <p>Прозрачное ценообразование с подробным разъяснением затрат на каждом этапе</p>
            </div>
            <div class="feature">
                <span class="feature-icon">💻</span>
                <p>Полное сопровождение и предоставление фото/видео отчета на протяжении всей сделки</p>
            </div>
            <div class="feature">
                <span class="feature-icon">🤝</span>
                <p>Проверенные поставщики</p>
            </div>
        </div>
    </div>

    <footer>
      <div class="footer-container">
        <div class="footer-logo">
          <img src="{% static 'tomiko/img/logo.svg' %}" alt="Логотип" />
        </div>
        <div class="footer-left">
          <div class="footer-columns">
            <div class="footer-column">
              <h4>КАТАЛОГ</h4>
              <ul>
                <li><a href="#">Авто из Кореи</a></li>
                <li><a href="#">Авто из Китая</a></li>
                <li><a href="#">Авто из Японии</a></li>
              </ul>
            </div>
            <div class="footer-column">
              <h4>КОМПАНИЯ</h4>
              <ul>
                <li><a href="#">О компании</a></li>
                <li><a href="#">Доставка</a></li>
                <li><a href="#">Отзывы</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-right">
          <h4>Звонок по России бесплатный</h4>
          <p class="phone-number">8 (800) 550 48 32</p>
          <div class="social-icons">
            <a href="#"><img src="{% static 'tomiko/img/icons/Telegabutton.svg' %}" alt="Telegram"></a>
            <a href="#"><img src="{% static 'tomiko/img/icons/Whatsbutton.svg' %}" alt="WhatsApp"></a>
            <a href="#"><img src="{% static 'tomiko/img/icons/Telegabutton.svg' %}" alt="VK"></a>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <p>© 2024 ООО «Правый руль» Автомобили под заказ из Кореи, Китая и Японии</p>
        <a href="#" class="privacy-policy">Политика конфиденциальности</a>
      </div>
    </footer>
</body>
</html>