{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Акции</title>
        <link rel="stylesheet" href="{% static 'tomiko/css/homePage/var.css' %}">
        <link rel="stylesheet" href="{% static 'tomiko/css/general/header_gen.css' %}">
        <link rel="stylesheet" href="{% static 'tomiko/css/general/footer.css' %}">
        <link rel="stylesheet" href="{% static 'tomiko/css/general/navigation.css' %}">
        <link rel="stylesheet" href="{% static 'tomiko/css/akcii.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <div class="header__nav">
                <ul class="info-list">
                    <li><a href="header-img"><img class="header-logo__ico header-link link-li" src="{% static 'tomiko/img/logo.svg' %}"
                                alt=""></a></li>
                    <li><a class="header-link link-li" href="">Авто из Кореи</a></li>
                    <li><a class="header-link link-li" href="">Авто из Китая</a></li>
                    <li><a class="header-link link-li" href="">Авто из Японии</a></li>
                    <li><a class="header-link link-li" href="">Контакты</a></li>
                    <!-- Элементы, которые нужно прижать к правому краю -->
                    <div class="header-media-container">
                        <li><a class="header-link header-number" href="">8 (800) 500-49-46</a></li>
                        <li><a class="header-link" href=""><img class="header-media__ico"
                                    src="{% static 'tomiko/img/icons/Telegabutton.svg' %}" alt="Telega"></a></li>
                        <li><a class="header-link" href=""><img class="header-media__ico"
                                    src="{% static 'tomiko/img/icons/Whatsbutton.svg' %}" alt="Whatsapp"></a></li>
                    </div>
                </ul>
            </div>
        </header>

        <div class="main">
            <div class="nav">
                <a href="/">Главная</a>
                 •
                <a href="/akcii/">Акции</a>
            </div>
            <h1 class="title">Акции</h1>

            <div class="block">
                <div class="block-content">
                    <h2>ПРИВЕДИ ДРУГА 👍</h2>
                    <p>
                        Каждый третий клиент обращается к нам по рекомендации знакомых, друзей, родственников.
                        Этот факт нас безумно радует, и в знак благодарности мы запустили акцию "Приведи друга".
                    </p>
                    <ul>
                        <li>Вы рекомендуете нашу компанию;</li>
                        <li>По вашей рекомендации человек заключает с нами договор на приобретение автомобиля;</li>
                        <li>Вы получаете денежное вознаграждение или скидку на следующий заказ.</li>
                    </ul>
                    <p>
                        Более подробную информацию можно узнать у наших менеджеров.
                    </p>
                    <a href="#" class="btn">Получить консультацию <img class="btn-img" src="{% static 'tomiko/img/icons/Whatsbutton.svg' %}" alt="Приведи друга"></a>
                </div>
                <div class="block-image">
                    <img src="{% static 'tomiko/img/akciiImg/Drug.svg' %}" alt="Приведи друга">
                </div>
            </div>

            <div class="block">
                <div class="block-content">
                    <h2>Оптовые заказы 🚗 🚙</h2>
                    <p>
                        Если вы планируете заказать сразу более 1 автомобиля, то для вас действует система лояльности - 10% скидка
                        на комиссию компании на каждый последующий автомобиль в заказе.
                    </p>
                    <a href="#" class="btn">Оставить заявку</a>
                </div>
                <div class="block-image">
                    <img src="{% static 'tomiko/img/akciiImg/zak2.png' %}" alt="Оптовые заказы">
                </div>
            </div>

            <div class="block">
                <div class="block-content">
                    <h2>Оплата депозита двумя частями 🤝</h2>
                    <p>
                        За долгие годы работы мы выработали для вас идеальную схему работы.
                        Представьте, что Мы нашли для вас идеальный вариант автомобиля, но у вас нет полной суммы для оплаты депозита на руках.
                    </p>
                    <p>
                        Не проблема! В нашей компании вы может оплатить депозит частями. Первую часть депозита оплачиваете в момент заключения договора,
                        вторую - после покупки автомобиля.
                    </p>
                    <p>
                        Важно уточнить, что конечная цена от этого не изменится.
                        Делаем все для вашего удобства и доверия.
                    </p>
                    <a href="#" class="btn">Оставить заявку</a>
                </div>
                <div class="block-image">
                    <img src="{% static 'tomiko/img/akciiImg/depozit.svg' %}" alt="Депозит">
                </div>
            </div>
        </div>
        <footer>
          <div class="footer-container">
            <div class="footer-logo">
              <img src="{% static 'tomiko/img/logo.svg' %}" alt="Логотип" />
            </div>
            <div class="footer-left">
              <div class="footer-columns">
                <div class="footer-column">
                  <h4>КАТАЛОГ</h4>
                  <ul>
                    <li><a href="#">Авто из Кореи</a></li>
                    <li><a href="#">Авто из Китая</a></li>
                    <li><a href="#">Авто из Японии</a></li>
                  </ul>
                </div>
                <div class="footer-column">
                  <h4>КОМПАНИЯ</h4>
                  <ul>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Доставка</a></li>
                    <li><a href="#">Отзывы</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-right">
              <h4>Звонок по России бесплатный</h4>
              <p class="phone-number">8 (800) 550 48 32</p>
              <div class="social-icons">
                <a href="#"><img src="{% static 'tomiko/img/icons/Telegabutton.svg' %}" alt="Telegram"></a>
                <a href="#"><img src="{% static 'tomiko/img/icons/Whatsbutton.svg' %}" alt="WhatsApp"></a>
                <a href="#"><img src="{% static 'tomiko/img/icons/Telegabutton.svg' %}" alt="VK"></a>
              </div>
            </div>
          </div>
          <div class="footer-bottom">
            <p>© 2024 ООО «Правый руль» Автомобили под заказ из Кореи, Китая и Японии</p>
            <a href="#" class="privacy-policy">Политика конфиденциальности</a>
          </div>
        </footer>
    </body>
</html>