{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Карточка</title>
    
    <link rel="stylesheet" href="{% static 'tomiko/css/cardPage/header-card.css' %}">
    <link rel="stylesheet" href="{% static 'tomiko/css/cardPage/contact-card.css' %}">
    <link rel="stylesheet" href="{% static 'tomiko/css/cardPage/card-slider.css' %}">
    <link rel="stylesheet" href="{% static 'tomiko/css/homePage/footer.css' %}">
    <link rel="stylesheet" href="{% static 'tomiko/css/homePage/var.css' %}">
    <link rel="stylesheet" href="{% static 'tomiko/css/cardPage/card-section.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <!-- Подключаем Swiper CSS -->
    <<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>
<body>
    <header class="header">
        <div class="header-line">
            <div class="header__nav">
                <ul class="info-list">
                    <li><a href="header-img"><img class="header-logo__ico header-link link-li"
                                src="{% static 'tomiko/img/logo.svg' %}" alt=""></a></li>
                    <li><a class="header-link link-li" href="">Авто из Кореи</a></li>
                    <li><a class="header-link link-li" href="">Авто из Китая</a></li>
                    <li><a class="header-link link-li" href="">Авто из Японии</a></li>
                    <li><a class="header-link link-li" href="">Контакты</a></li>
                    <!-- Элементы, которые нужно прижать к правому краю -->
                    <div class="header-media-container">
                        <li><a class="header-link header-number" href="">8 (800) 500-49-46</a></li>
                        <li><a class="header-link" href=""><img class=""
                                    src="{% static 'tomiko/img/icons/Telegabutton.svg' %}" alt="Telega"></a></li>
                        <li><a class="header-link" href=""><img class=""
                                    src="{% static 'tomiko/img/icons/Whatsbutton.svg' %}" alt="Whatsapp"></a></li>
                    </div>
                </ul>
            </div>
        </div>
    </header>
    <section>
        <div class="main-container">
            <div class="card-routing">
                <a class="a-routing" href="/">Главная</a>
                •
                <a class="a-routing" href="/korea/">Автомобили из Кореи</a>
                •
                <a class="a-routing" href="">Hyundai Palisade 2020</a>
            </div>
            <div class="card-content">
                <div class="card-info">
                    <h1 class="title bebas">Hyundai Palisade 2020</h1>
                    <div class="card-text">
                        <div class="card-price bebas">
                            <div>
                                4 120 000
                                <span class="rub">₽</span>
                            </div>
                        </div>
                        <div class="card-quest">
                            <div class="btn-quest">
                                <button class="btn-quest-card">Оставить заявку</button><a class="header-link" href=""><img class="header-media__ico" src="{% static 'tomiko/img/icons/Telegabutton.svg' %}"
                                        alt="Telega"></a>
                            </div>
                            <div class="economy-quest">
                                Экономия до 30% от рынка авто в наличии
                                <img src="{% static 'tomiko/img/icons/infon-con.png' %}" alt="">
                            </div>

                        </div>
                        <table class="card-table">
                            <tbody>
                                <tr>
                                    <td class="text-gray">
                                        Год выпуска:
                                    </td>
                                    <td>
                                        <span>2020 г.</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-gray">
                                        Тип кузова:
                                    </td>
                                    <td>
                                        <span>SUV</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-gray">
                                        Страна:
                                    </td>
                                    <td>
                                        <span>Корея</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-gray">
                                        КПП:
                                    </td>
                                    <td>
                                        <span>Автомат</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-gray">
                                        Объем двигателя:
                                    </td>
                                    <td>
                                        <span>2.2 л.</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-gray">
                                        Мощность двигателя:
                                    </td>
                                    <td>
                                        <span>202 л.с.</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-gray">
                                        Привод:
                                    </td>
                                    <td>
                                        <span>Полный</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-gray">
                                        Цвет:
                                    </td>
                                    <td>
                                        <span>Черный</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-gray">
                                        Пробег:
                                    </td>
                                    <td>
                                        <span>50 355 км</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-gray">
                                        Комплектация:
                                    </td>
                                    <td>
                                        <span>Prestige</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-gray">
                                        Руль:
                                    </td>
                                    <td>
                                        <span>Левый</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-box">
                    <div class="swiper-container gallery-top">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="{% static 'tomiko/img/sliderImg/car1.png' %}" alt="Image 1"></div>
                            <div class="swiper-slide"><img src="{% static 'tomiko/img/sliderImg/car2.png' %}"></div>
                            <div class="swiper-slide"><img src="{% static 'tomiko/img/sliderImg/car3.png' %}"></div>
                            <div class="swiper-slide"><img src="{% static 'tomiko/img/sliderImg/car4.png' %}"></div>
                            <div class="swiper-slide"><img src="{% static 'tomiko/img/sliderImg/car5.png' %}"></div>
                        </div>
                        <!-- Добавляем стрелки навигации -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="card-contact">
            <div class="card-container">
                <div class="card-row">
                    <div class="card-contact__left">
                        <div class="contact-title">
                            <h2>Контактная 
                                <br>информация</h2>
                            <img class="hi" src="{% static 'tomiko/img/icons/handthapp.png' %}" alt="">
                        </div>
                        <p class="section-description text-gray">
                            Оставьте свою заявку и наш менеджер свяжется с Вами для уточнения деталей.
                        </p>
                        
                            <p class="text-gray">Звонок по России бесплатный</p>
                            <a class="text-white" href="">8 (800) 775-67-29</a>
                        
                        
                            <p class="text-gray">WhatsApp</p>
                            <a class="text-white" href="">+7 924 420-24-32</a>
                        
                        
                            <p class="text-gray">Офис</p>
                            <div class="text-white">690014 г. Владивосток, ул. Русская, д. 3, оф. 38</div>
                        </div>
                    </div>
                    <div class="form-container">
                        <div class="form-group">
                            <div>
                                Имя
                            </div>
                    
                            <div class="form-column">
                    
                                <input type="text" placeholder="Введите имя" />
                                <input type="tel" value="+7" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                Уточните свой вопрос
                            </div>
                            <textarea placeholder="Введите текст сообщения, укажите страну, марку и год машины."></textarea>
                        </div>
                        <div class="checkbox-group">
                            <input type="checkbox" id="privacy-policy" />
                            <label for="privacy-policy">С <span>правилами политики конфиденциальности</span> ознакомлен</label>
                        </div>
                        <div class="submit-btn">
                            <button>Отправить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-container">
            <div class="footer-row">
                <div class="footer-left">
                    <div class="footer_links">
                        <a href="" class="brand_logo">
                            <img class="footer-logo" src="{% static 'tomiko/img/tomiko-brand.png' %}" alt="">
                        </a>
                        <ul class="footer-ul">
                            <li class="footer-h">Каталог</li>
                            <li>
                                <a href="">Авто из Кореи</a>
                            </li>
                            <li>
                                <a href="">Авто из Китая</a>
                            </li>
                            <li>
                                <a href="">Авто из Кореи</a>
                            </li>
                        </ul class="footer-ul">
                        <ul>
                            <li class="footer-h">Компания</li>
                            <li>
                                <a href="">О компании</a>
                            </li>
                            <li>
                                <a href="">Клипы</a>
                            </li>
                            <li>
                                <a href="">Отзывы</a>
                            </li>
                        </ul>
    
                    </div>
                    <div class="footer-contact">
                        <p class="footer-info">Звонок по России бесплатный</p>
                        <a class="footer-number" href="">8 (800) 775-67-29</a>
                        <div class="social">
                            <a href="">
                                <img src="{% static 'tomiko/img/icons/fot-1.png' %}" alt="">
                            </a>
                            <a href="">
                                <img src="{% static 'tomiko/img/icons/fot-2.png' %}" alt="">
                            </a>
                            <a href="">
                                <img src="{% static 'tomiko/img/icons/fot-3.png' %}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
        <div class="footer_bottom">
            <div class="footer_bottom-container">
                <p class="footer-conf">© 2024 ООО «Автоцентр-ВЛ» Автомобили под заказ из Кореи, Китая и Японии</p>
                <p>
                    <a href="">Политика конфиденциальности</a>
                </p>
            </div>
        </div>
    </footer>

    <script src="{% static 'tomiko/js/js-card/card-slider.js' %}"></script>
</body>
</html>