{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
        <link rel="stylesheet" href="{% static 'tomiko/css/homePage/var.css' %}">
        <link rel="stylesheet" href="{% static 'tomiko/css/general/header_gen.css' %}">
        <link rel="stylesheet" href="{% static 'tomiko/css/general/footer.css' %}">
        <link rel="stylesheet" href="{% static 'tomiko/css/custom_404.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header__nav">
            <ul class="info-list">
                <li><a href="/"><img class="header-logo__ico header-link link-li" src="{% static 'tomiko/img/logo.svg' %}"
                            alt=""></a></li>
                <li><a class="header-link link-li" href="/cars/Корея/">Авто из Кореи</a></li>
                <li><a class="header-link link-li" href="/cars/Китай/">Авто из Китая</a></li>
                <li><a class="header-link link-li" href="/cars/Япония/">Авто из Японии</a></li>
                <li><a class="header-link link-li" href="/about/">Условия работы</a></li>
                <li><a class="header-link link-li" href="/akcii/">Акции</a></li>
                <li><a class="header-link link-li" href="/contacts/">Контакты</a></li>
                <!-- Элементы, которые нужно прижать к правому краю -->
                <div class="header-media-container">
                    <li><a class="header-link header-number" href="">8 (800) 500-49-46</a></li>
                    <li><a class="header-link" href=""><img class="header-media__ico"
                                src="{% static 'tomiko/img/icons/Telegabutton.svg' %}" alt="Telega"></a></li>
                    <li><a class="header-link" href=""><img class="header-media__ico"
                                src="{% static 'tomiko/img/icons/Whatsbutton.svg' %}" alt="Whatsapp"></a></li>
                </div>
            </ul>
        </div>
    </header>
</body>
</html>