{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная Станица</title>
    <link rel="stylesheet" href="{% static 'tomiko/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'tomiko/css/var.css' %}">
</head>

<body>
    
    <header class="header">
        
        <div class="header-info">
            <nav class="header__nav"></nav>
            <div class="header__logo">
                <img src="{% static 'tomiko/img/bgImage.svg' %}" class="header-logo" alt="">
            </div>
            <ul>
                <a href=""><li class="header__item">Авто из Кореи</li></a>
                <a href=""><li class="header__item">Авто из Китая</li></a>
                <a href=""><li class="header__item">Авто из Японии</li></a>
                <a href=""><li class="header__item">Контакты</li></a>
            </ul>
            </nav>
            <div class="header-media">
                <ul>
                    <a href=""><li class="header__link">8 (800) 500-49-46</li></a>
                    <a href=""><li class="header__link"><img src="{% static 'tomiko/img/icons/Telegabutton.svg' %}" alt="Telega"></li></a>
                    <a href=""><li class="header__link"><img src="{% static 'tomiko/img/icons/Whatsbutton.svg' %}" alt="Whatsapp"></li></a>
                </ul>
            </div>
        </div>
    </header>
</body>

</html>