.swiper-container {
    width: 60%;
    max-width: 600px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-container.gallery-thumbs {
    height: 100px;
    box-sizing: border-box;
    padding: 10px 0;
}

.swiper-container.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
    cursor: pointer;
}

.swiper-container.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

