.logo-brands{
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    z-index: 12;
}

.brand{
    margin-right: 36px;
    background: transparent;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.logo-carousel {
    width: 100%;
    /* Ширина контейнера */
    height: 100px;
    /* Высота контейнера, подбирайте под ваши логотипы */
    overflow: hidden;
    
    position: relative;
}

.marquee {
    display: flex;
    
    white-space: nowrap;
    animation: marquee 10s linear infinite;
    width: 100%;
}

.marquee button{
    display: flex;
    width: 100%;
}

.brand:hover img {
    transform: scale(1.1);
    transition: 0.5s;
    /* Увеличение размера на 10% */
}



.marquee {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    animation: marquee 1s linear infinite;
}


@keyframes marquee {
    100% {
            transform: translateX(100%);
        }
    
        
    100%{
            transform: translateX(-100%);
        }
    
        
}