
.marquee {
    margin: 100px auto auto auto;
    max-width: 100%;
    display: flex;
    gap: 20px;
    position: absolute;
}

.brand{
    margin-right: 36px;
    background: transparent;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.logo-carousel {
    width: 100%;
    /* Ширина контейнера */
    height: 100px;
    /* Высота контейнера, подбирайте под ваши логотипы */
    overflow: hidden;
    
    position: relative;
}

.marquee {
    display: flex;
    
    white-space: nowrap;
    animation: marquee 10s linear infinite;
    width: 100%;
}

.marquee button{

    display: flex;
    width: 100%;
}

.brand:hover img {
    transform: scale(1.1);
    transition: 0.5s;
    /* Увеличение размера на 10% */
}


.marquee div {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    animation: marquee 1s linear infinite;

}

.marquee h1 {
    width: 100%;
    white-space: nowrap;
    display: flex;
    gap: 10px;

}

@keyframes marquee {
    200% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}