body {
    background: var(--main-bg-color);
    margin: 0;
    padding: 0;
    
}

header{
    border-bottom: solid 1px #FFFFFF29;
    padding-bottom: 40px;
}

/*Стили, шрифты, цвета для шапки сайта*/
.header__items, .td-info, .header-link{
    color: #FFFFFFB2;
    list-style-type: none;
    text-decoration: none;
    font-family: "Inter", serif;
    font-weight: 600;
    font-size: 16px;

}

.header-media{
    color: white;
    list-style-type: none;
    text-decoration: none;
    font-family: "Bebas Neue", serif;
    font-size: 24px;
}



.bg-logo {
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*распределение по гридам*/
.header{
    margin: 0px auto;
    max-width: 1703px;
    display: grid;
    grid-template-columns: [first] 1fr [second] 1fr;
    grid-template-rows: [first] 200px [second] 1fr [third] 1fr;
}
/*Блок header-info*/
.header-info, thead{
    margin-top: 19px;
    display: flex;
    justify-content: start;     
}

.header__items, .td-info{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.header__items, .header-link {
    margin-top: 12px;
}

.header-info__logo, .header-logo__ico {
    margin-right: 30px;
    
}
/*Блок header-media*/
.header-media{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.header__links, .td-media{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.media__text{
    margin-top: 5px;
    margin-right: 24px;
}

/*Блок header-title */
.header-title {
    grid-column: first / span 2;
    grid-row: second;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}



.header__title{
    text-align: center;
    color: #fff;
    font-family: "Montserrat", serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 44px;
    line-height: 77px;
}

.header__phrase{
    font-family: "Inter", serif;
    font-weight: 300;
    color: #fff;
    font-size: 24px;
    line-height: 36px;
    width: 563px;
    text-align: center;
}

.header__btn{
    margin-top: 30px;
        width: 285px;
        height: 70px;
        border-radius: 60px;
        background: linear-gradient(90deg, #0D2F68, #D51117);
        color: white;
        border: none;
        cursor: pointer;
        font-family: "Inter", serif;
        font-size: 18px;
        font-weight: 600;
}

/* Блок header-feedback*/
.header-feedback{
    margin-top: 103px;
    grid-column: first;
    grid-row: third;
    
    
    
}
.feedback-container{
   margin-top: 203px;
   display: inline-flex;
   align-items: normal;
   justify-content: space-between;
   gap: 50px;
   

   
   
}

.fblock{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    align-items: center;
}

.paraphras-block{
    font-family: "Inter", serif;
    color: #fff;
    filter:brightness(50%);
    font-size: 14px;
    font-weight: 400;
    
}

.block-1, .block-3{
    text-align: center;
}

.block-1, .block-2 {
    border-right: solid 1px #FFFFFF29;
    padding-right: 30px;
    height: 87px;
}

/* блок header-akcii*/
.header-akcii{
    margin-top: 203px;
    grid-column: second;
    grid-row: third;
    background-color: #081E36;
    border-radius: 28px;
    text-align: center;
    max-width: 325px;
    max-height: 199px;
    margin-left: auto;
}

.akcii__title{
    font-family: "Inter", serif ;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
}

.red__30{
    font-family: "Inter", serif;
    color: #FD554B;
    font-size: 48px;
    font-weight: 900;
}

.header-akcii__btn{
    width: 293px;
    height: 44px;
    border-radius: 60px;
    background: linear-gradient(90deg, #0D2F68, #D51117);
    color: white;
    border: none;
    cursor: pointer;
    font-family: "Inter", serif;
    font-size: 14px;
font-weight: 600;
}