.clipls{
    position: absolute;
        max-width: 100%;
        height: 200px;
        background: #fff;
        position: absolute; 
}

.clips-title{
    max-width: 1424px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.rectangle-clips{
    
}
.clips-logo{
    display: flex;
    gap: 20px;
}
.stat{
    padding: 15px;
    background:rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: end;
    border-radius: 30px;
    
    
}

.clips-p{
    margin-bottom: 0px;
    margin-top: 0px;
}
.swiper-clips {
    width: 100%;
    height: 100%;
}

.swiper-slide-clip {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clips-img {
    max-width: 100%;
    height: auto;
}

.clips-h{
    color: #fff;
    font-family: "Montserrat", serif;
    font-size: 40px;
    text-transform: uppercase;
}

.clips-btn{
    display: flex;
    align-items: center;
}