.clipls{
    position: absolute;
        max-width: 100%;
        height: 200px;
        background: #fff;
         
}

.clips-title{
    z-index: 10;
    max-width: 1424px;
    margin: 120px auto auto auto;
    display: flex;
    justify-content: space-between;
}

.clips-logo{
    display: flex;
    gap: 20px;
}
.stat{
    padding: 15px;
    background:rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: end;
    border-radius: 30px;
    
    
}

.clips-p{
    margin-bottom: 0px;
    margin-top: 0px;
}
.swiper-clips {
    
    height: 100%;
}

.swiper-slide-clip {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clips-links{
    
}


.clips-img {
    width: 150px;
    height: 80%;
    border-radius: 30px;
}

.clips-h{
    color: #fff;
    font-family: "Montserrat", serif;
    font-size: 40px;
    text-transform: uppercase;
}

.clips-btn{
    display: flex;
    align-items: center;
}
.rec-area{
    
}
.rectangle-line{
    margin: -358px 0px 0px 0px;
    left: 10px;
    background: linear-gradient(90deg, #0D2F68, #D51117);
    transform: rotate(-3deg);
    z-index: -20;
    position: absolute;
    width: 100%;
    height: 400px;
    background-color: #fff;
}