.popup-cost {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 4;
    left: 0;
    top: 0;
}

.popup-h{
    text-transform: uppercase;
    font-size: 40px;
        font-family: "Inter";
        font-weight: 700;
        line-height: 40px;
        color: #fff;
        margin: 0;
}

.popup-p{
font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: #fff;
   
}

.popup-cost.open {
    display: flex;
}

.popup__close-c {
    position: absolute;
    right: 30px;
    top: 7px;
    cursor: pointer;
}

.popup-container-c {
    background-color: #081E36; 
    padding: 40px;
    border-radius: 30px; 
    position: relative; 
    max-width: 640px; /* Максимальная ширина попапа */
    max-height: 900px;
    width: 100%; /* Ширина адаптивная */
    margin: auto; /* Центрирование */
    top: 25%; /* Сдвиг вниз на 50% */
    transform: translateY(-50%); /* Сдвиг вверх на 50% для центрирования */
}
.popup-title-c{
    border-bottom: 1px solid #FFFFFF29;
}

.popup-input-name{
    color:#FFFFFF;
    display: flex;
    font-family: "Inter", serif;
    font-size: 16px;
    font-weight: 400;
    text-align: start;
    display: flex;
    gap: 15px;
        /* расстояние между input */
        
        
}

.input-cost{
    padding: 16px;
    font-size: 16px;
    font-weight: 400;
    width: 280px;
}

.input-cost-label{
padding: 16px;
    font-size: 16px;
    font-weight: 400;
    width: 608px;
    height: 101px;
    text-align: left; /* выравнивание текста влевой части */
    padding: 10px; /* отступы для удобства */
}





input{
    border-radius: 32px;
    background: #20344a;
    
        border: 0;
        outline: 0;
        color: #FFF;
        font-family: Inter;
        line-height: normal;
}

.popup-input-name, label {
    
    
}

.popup-confidence{
    display: flex;
        /* делает элементы внутри блока в строчку */
        align-items: center;
        /* выравнивает элементы по центру по вертикали */
    width: 100%;
    display: flex;
        gap: 16px;
        margin: 0 0 24px 0;
}

.confidence-input{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.confidence-input input {
    width: 20px;
    height: 20px;
}

.confidence-input label {
    color: #fff;
    font-size: 14px;
}

.confidence-input label span {
    color: #D51117;
    /* Красный цвет ссылки */
    text-decoration: underline;
}


.popup-btn-c-b{
    width: 100%;
        font-size: 18px;
        font-weight: 600;
        border-radius: 60px;
        width: 100%;
        border: none;
        background: #20344a;
        color: #fff;
        height: 80px;
        font-family: Inter;
        cursor: pointer;
}